@media screen and (max-width: 1024px) {
  .container {
    width: 1015px;
  }
  main {
    width: 1015px;
  }
  .nav {
    width: 1015px;
    margin-right: 10px;
  }
  .logo {
    margin-left: 15px;
  }
  .menu {
    margin-right: 15px;
  }
  .header_center_block {
    width: 1015px;
  }
  .offer {
    margin-left: 40px;
  }
  .header_gold_rect {
    left: 10px;
  }
  .pinterest {
    left: 765px;
  }
  .examples_text,
  .price_text,
  .contacts_common_block {
    width: 1000px;
    margin-left: 15px;
  }
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 22px;
  }
  body {
    letter-spacing: 1px;
  }
  .container {
    width: 760px;
  }
  main {
    width: 760px;
  }
  .nav {
    width: 760px;
    margin-right: 10px;
  }
  .logo {
    margin-left: 10px;
  }
  .menu {
    margin-right: 10px;
  }
  .menu_list_item {
    margin-left: 20px;
  }
  .header_gold_rect {
    width: 740px;
    border-right: 1px solid #D8C376;
    top: 280px;
  }
  .header_center_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 760px;
  }
  .offer {
    width: 320px;
    margin-left: 0;
    text-align: center;
  }
  .header_gold_rect {
    left: 10px;
  }
  .pinterest {
    font-size: 10px;
    left: 463px;
    top: 625px;
  }
  .pinterest_link {
    color: #E60023;
  }
  .advantages_title {
    margin-top: 120px;
  }
  .advantages_block {
    width: 760px;
    height: 360px;
  }
  .advantages_img {
    width: 540px;
    height: 360px;
  }
  .advantages_block_number {
    font-size: 110px;
  }
  .advantages_text {
    font-size: 15px;
  }
  .advantages_block:nth-child(4) {
    margin-bottom: 120px;
  }
  .work_process_common {
    width: 560px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 80px auto 120px;
  }
  .work_process_text {
    font-size: 22px;
  }
  .work_process_block:nth-child(3) {
    margin-top: 50px;
  }
  .work_process_block:nth-child(4) {
    margin-top: 50px;
  }
  .examples_text,
  .price_text,
  .contacts_common_block {
    width: 740px;
    margin-left: 10px;
    font-size: 22px;
  }
  .contacts_block {
    width: 160px;
  }
  .skype {
    margin-left: 65px;
  }
  .email {
    width: 224px;
  }
  .phone_number_link,
  .skype_link,
  .email_link {
    font-size: 20px;
  }
  .arrow-top {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  h3 {
    font-size: 18px;
  }
  .container {
    width: 640px;
  }
  main {
    width: 640px;
  }
  .nav {
    width: 640px;
    margin-right: 10px;
  }
  .logo {
    margin-left: 10px;
  }
  .menu_list_item {
    font-size: 13px;
    margin-left: 20px;
  }
  .header_gold_rect {
    width: 610px;
    height: 410px;
    border-right: 1px solid #D8C376;
    top: 285px;
  }
  .header_center_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 640px;
    height: 675px;
  }
  .offer {
    width: 300px;
    margin-left: 0;
    text-align: center;
  }
  .header_gold_rect {
    width: 618px;
    left: 10px;
  }
  .profilies_header_img {
    width: 620px;
    height: 458px;
    margin-left: 18px;
  }
  .pinterest {
    font-size: 10px;
    left: 427px;
    top: 593px;
  }
  .pinterest_link {
    color: #E60023;
    left: 418px;
    top: 593px;
  }
  .advantages_title {
    margin-top: 120px;
  }
  .advantages_block {
    width: 640px;
    height: 290px;
  }
  .advantages_img {
    width: 470px;
    height: 290px;
  }
  .advantages_block_number {
    font-size: 110px;
  }
  .advantages_text {
    font-size: 15px;
  }
  .advantages_block:nth-child(4) {
    margin-bottom: 120px;
  }
  .work_process_common {
    width: 560px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 80px auto 120px;
  }
  .work_process_text {
    font-size: 22px;
  }
  .work_process_block:nth-child(3) {
    margin-top: 50px;
  }
  .work_process_block:nth-child(4) {
    margin-top: 50px;
  }
  .examples_text,
  .price_text,
  .contacts_common_block {
    width: 620px;
    margin-left: 10px;
    font-size: 22px;
  }
  .contacts_block {
    width: 145px;
  }
  .skype {
    margin-left: 65px;
  }
  .email {
    width: 224px;
  }
  .phone_number_link,
  .skype_link,
  .email_link {
    font-size: 18px;
  }
  .phone_number,
  .skype_login,
  .email_address {
    margin-top: 12px;
  }
  .modal {
    width: 400px;
    height: 315px;
  }
}

@media screen and (max-width: 414px) {
  h2 {
    margin-left: 25px;
  }
  .container {
    width: 410px;
  }
  main {
    width: 410px;
  }
  .nav {
    width: 410px;
    margin-right: 5px;
  }
  .logo {
    margin-left: 5px;
  }
  .menu {
    display: none;
  }
  .header_center_block {
    width: 410px;
    height: 531px;
  }
  .header_gold_rect {
    width: 398px;
    height: 300px;
    top: 290px;
    left: 5px;
  }
  .profilies_header_img {
    width: 410px;
    height: 300px;
  }
  .pinterest {
    font-size: 7px;
    top: 485px;
    left: 244px;
  }
  .advantages_title {
    margin-top: 100px;
  }
  .advantages_block {
    position: relative;
    width: 410px;
    height: 410px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 90px;
  }
  .advantages_block:nth-child(2) {
    margin-top: 70px;
  }
  .advantages_block:nth-child(3) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .advantages_img {
    width: 410px;
    height: 270px;
  }
  .advantages_block_number {
    position: absolute;
    margin-top: 0;
    top: 188px;
    left: 328px;
  }
  .advantages_second_block {
    left: 25px;
  }
  .advantages_info-column {
    margin-top: 17px;
  }
  .advantages_text {
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .work_process_common {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 410px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 70px;
  }
  .work_process_block:not(:first-child) {
    margin-top: 20px;
  }
  .work_process_block:not(:first-child):nth-child(3) {
    margin-top: 20px;
  }
  .work_process_block:not(:first-child):nth-child(4) {
    margin-top: 20px;
  }
  .detail {
    font-size: 16px;
  }
  .examples_text,
  .price_text,
  .contacts_common_block {
    width: 380px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .examples_text {
    font-size: 20px;
    text-align: center;
    text-indent: 0;
  }
  .example_img {
    margin-bottom: 120px;
  }
  .price_text {
    font-size: 19px;
  }
  .price_text:nth-child(2) {
    margin-bottom: 25px;
  }
  .title_contacts {
    margin-left: 25px;
    margin-top: 120px;
  }
  .contacts_common_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .skype {
    margin-left: 0;
    margin-top: 30px;
  }
  .email {
    width: 224px;
    margin: 30px 0 50px;
  }
  .phone_number,
  .skype_login,
  .email_address {
    margin-top: 10px;
  }
  .mini-menu {
    display: block;
  }
  .menu-btn {
    position: absolute;
    top: 9px;
    right: 0;
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    margin: 0;
    border-radius: 50%;
  }
  .menu-btn span,
  .menu-btn span::before,
  .menu-btn span::after {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 2px;
    background-color: #D8C376;
  }
  .menu-btn span::before,
  .menu-btn span::after {
    content: '';
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .menu-btn span::before {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  .menu-btn span::after {
    -webkit-transform: translateY(13px);
            transform: translateY(13px);
  }
  .menu-btn-active span::before {
    -webkit-transform: rotate(42deg);
            transform: rotate(42deg);
  }
  .menu-btn-active span::after {
    -webkit-transform: rotate(-42deg);
            transform: rotate(-42deg);
  }
  .menu-btn-active span {
    height: 0;
  }
  .container-menu-mini {
    position: absolute;
    top: 60px;
    width: 100%;
    height: 300vh;
    background-color: #0E0D0D;
    z-index: 5;
  }
  .container-menu-mini__item {
    display: block;
    width: 180px;
    margin: 35px 0;
  }
  .container-menu-mini__link {
    color: #D8C376;
    text-decoration: none;
    font-size: 30px;
    font-weight: 200;
  }
  .scroll {
    overflow: hidden;
  }
  .top {
    top: 445px;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .display {
    display: none;
  }
  .container-present__forename_mini {
    color: #fff;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .container-present__prof_mini {
    color: #fff;
  }
  .modal {
    width: 350px;
    height: 315px;
  }
  .close-modal {
    left: 287px;
  }
  .modal_text {
    font-size: 17px;
  }
}

@media screen and (max-width: 375px) {
  .container {
    width: 370px;
  }
  main {
    width: 370px;
  }
  .nav {
    width: 370px;
    margin-right: 5px;
  }
  .logo {
    margin-left: 5px;
  }
  .menu {
    margin-right: 5px;
  }
  .header_center_block {
    width: 370px;
    height: 504px;
  }
  .header_gold_rect {
    left: 5px;
    width: 358px;
    height: 285px;
  }
  .profilies_header_img {
    width: 360px;
    height: 270px;
    margin-left: 8px;
  }
  .pinterest {
    left: 200px;
    top: 470px;
  }
  .advantages_block {
    width: 370px;
    height: 375px;
  }
  .advantages_img {
    width: 370px;
    height: 230px;
  }
  .advantages_block_number {
    left: 300px;
    top: 150px;
  }
  .advantages_second_block {
    left: 25px;
  }
  .work_process_common {
    width: 370px;
  }
  .examples_text,
  .price_text,
  .contacts_common_block {
    width: 345px;
    margin-left: 10px;
  }
  .email {
    width: 224px;
  }
  .modal {
    width: 310px;
    height: 315px;
  }
  .close-modal {
    left: 250px;
    top: 260px;
  }
  .modal_text {
    font-size: 17px;
    margin-top: 0;
  }
}

@media screen and (max-width: 360px) {
  .container {
    width: 360px;
  }
  main {
    width: 360px;
  }
  .nav {
    width: 360px;
  }
  .header_center_block {
    width: 360px;
    height: 499px;
  }
  .header_gold_rect {
    width: 349px;
    height: 285px;
  }
  .profilies_header_img {
    width: 350px;
    height: 260px;
  }
  .advantages_block {
    width: 360px;
  }
  .advantages_img {
    width: 360px;
  }
  .advantages_block_number {
    left: 285px;
  }
  .advantages_second_block {
    left: 15px;
  }
  .work_process_common {
    width: 360px;
  }
  .modal {
    width: 290px;
    height: 315px;
  }
  .close-modal {
    left: 230px;
    top: 260px;
  }
}

@media screen and (max-width: 320px) {
  .container {
    width: 320px;
  }
  main {
    width: 320px;
  }
  .nav {
    width: 320px;
    margin-right: 5px;
  }
  .logo {
    margin-left: 5px;
  }
  .menu {
    margin-right: 5px;
  }
  .header_center_block {
    width: 320px;
    height: 477px;
  }
  .offer {
    font-size: 55px;
  }
  .header_gold_rect {
    left: 5px;
    top: 285px;
    width: 310px;
    height: 285px;
  }
  .profilies_header_img {
    width: 310px;
    height: 230px;
    margin-left: 8px;
  }
  .pinterest {
    width: 98px;
    left: 205px;
    top: 455px;
    text-align: right;
  }
  .advantages_block {
    width: 320px;
    height: 375px;
  }
  .advantages_img {
    width: 320px;
    height: 230px;
  }
  .advantages_block_number {
    left: 252px;
    top: 150px;
  }
  .advantages_second_block {
    left: 10px;
  }
  .work_process_common {
    width: 320px;
  }
  .example_img {
    width: 310px;
    height: 444px;
  }
  .examples_text,
  .price_text,
  .contacts_common_block {
    width: 300px;
    margin-left: 10px;
  }
  .price_text {
    text-align: center;
  }
  .container-menu-mini__link {
    font-size: 24px;
  }
  .email {
    width: 224px;
  }
  .modal {
    width: 255px;
    height: 315px;
  }
  .close-modal {
    left: 200px;
    top: 260px;
  }
  .modal_text {
    width: 255px;
    font-size: 15px;
    margin-top: 0;
  }
}
/*# sourceMappingURL=media.css.map */