@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap&subset=cyrillic");
html {
  font-family: 'Roboto', sans-serif;
}

body {
  position: relative;
  background-color: #0E0D0D;
  letter-spacing: 2px;
}

nav {
  z-index: 5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

h1, h3, .price_text {
  padding: 0;
  margin: 0;
}

h2 {
  padding: 0;
  margin: 0 0 0 50px;
}

span {
  font-size: 30px;
  font-weight: 500;
}

.container, header, .header_center_block {
  position: relative;
}

.mini-menu,
.container-menu-mini {
  display: none;
}

.container {
  width: 1145px;
  background-color: #0E0D0D;
  margin: 0 auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1145px;
  height: 70px;
}

.logo {
  width: 150px;
  height: 34px;
}

.menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu_list_item {
  font-size: 16px;
  color: #eeeeee;
  font-weight: 100;
  margin-left: 48px;
}

.menu_list_item:hover {
  color: #D8C376;
  -webkit-transition: .5s;
  transition: .5s;
}

.header_center_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1182px;
  height: 710px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_gold_rect {
  position: absolute;
  top: 270px;
  left: -20px;
  width: 950px;
  height: 310px;
  border-top: 1px solid #D8C376;
  border-left: 1px solid #D8C376;
  border-bottom: 1px solid #D8C376;
}

h1 {
  font-size: 60px;
  font-weight: 100;
  color: #D8C376;
}

h2 {
  font-size: 30px;
  font-weight: 100;
  color: #eeeeee;
}

h3 {
  font-size: 25px;
  font-weight: 300;
  color: #D8C376;
}

.offer {
  width: 360px;
  height: 200px;
  margin-left: 50px;
}

.profilies_header_img {
  width: 664px;
  height: 491px;
}

.pinterest {
  position: absolute;
  top: 520px;
  left: 927px;
}

.pinterest,
.pinterest_link {
  font-size: 11px;
  font-weight: 100;
  color: #686868;
  letter-spacing: 1px;
}

.pinterest_link:hover {
  color: #E60023;
  font-weight: 200;
  -webkit-transition: .2s;
  transition: .2s;
}

.advantages_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 945px;
  height: 405px;
  background-color: #151414;
  margin-bottom: 120px;
}

.advantages_block:nth-child(2) {
  margin-top: 85px;
}

.advantages_block:nth-child(3) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  float: right;
}

.advantages_block:nth-child(4) {
  margin-bottom: 173px;
}

.advantages_img {
  width: 655px;
  height: 405px;
}

.advantages_info-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.advantages_block_number {
  font-size: 150px;
  font-weight: 100;
  color: #403E3E;
  margin-top: 35px;
}

.advantages_text {
  font-size: 18px;
  font-weight: 200;
  color: #D8C376;
  text-align: center;
  margin-bottom: 45px;
}

.work_process_common {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 85px 0 173px 0;
}

.work_process_block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 1px solid #D8C376;
}

.work_process_number,
.work_process_number_4 {
  position: absolute;
  top: 3px;
  left: 63px;
  font-size: 220px;
  font-weight: 500;
  color: #403E3E;
  opacity: .1;
}

.work_process_number_4 {
  left: 50px;
}

.work_process_text {
  width: 200px;
  font-size: 24px;
  font-weight: 300;
  color: #D8C376;
}

.detail {
  font-size: 12px;
  font-weight: 300;
  color: #A5A5A5;
  z-index: 1;
}

.detail:hover {
  color: #eeeeee;
  -webkit-transition: .2s;
  transition: .2s;
}

.examples_text {
  width: 1085px;
  font-size: 24px;
  font-weight: 200;
  color: #D8C376;
  text-indent: 2.1em;
  margin-top: 85px;
}

.examples_block_img {
  text-align: center;
}

.example_img {
  width: 320px;
  height: 454px;
  margin: 70px 0 170px 0;
}

.example_img_link {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: .3s;
  transition: .3s;
}

.example_img_link:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transition: .3s;
  transition: .3s;
}

.price_text {
  font-size: 24px;
  font-weight: 300;
  color: #D8C376;
  margin-top: 10px;
}

.title_price {
  margin-bottom: 85px;
}

.title_contacts {
  margin: 170px 0 85px 50px;
}

.contacts_common_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts_block {
  width: 188px;
  height: 115px;
}

.contacts_imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts_img {
  width: 40px;
  height: 40px;
}

.whatsapp {
  background: url("../images/whatsapp.png") no-repeat center center/cover;
}

.viber {
  background: url("../images/viber.png") no-repeat center center/cover;
}

.telegram {
  background: url("../images/telegram.png") no-repeat center center/cover;
}

.phone_number_link,
.skype_link,
.email_link {
  font-size: 22px;
  font-weight: 300;
  color: #D8C376;
}

.phone_number_link:hover,
.skype_link:hover,
.email_link:hover {
  color: #C2AA52;
  -webkit-transition: .1s;
  transition: .1s;
}

.phone_number,
.skype_login,
.email_address {
  margin-top: 20px;
}

.skype {
  width: 165px;
  height: 115px;
  text-align: center;
  margin-left: 85px;
}

.skype_img {
  background: url("../images/skype.png") no-repeat center center/cover;
  margin: 0 auto;
}

.email {
  width: 270px;
  height: 115px;
}

.email_img {
  background: url("../images/mail.png") no-repeat center center/cover;
  margin: 0 auto;
}

footer {
  margin: 50px 0 30px 0;
  opacity: .3;
}

.logo_block {
  width: 205px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.copyright {
  font-size: 10px;
  color: #A5A5A5;
  margin-bottom: 10px;
}

.year {
  font-size: 14px;
  font-weight: 400;
  color: #A5A5A5;
  margin-bottom: 5px;
}

.overlay-modal {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
}

.modal {
  position: fixed;
  width: 410px;
  height: 325px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 30px;
  background-color: #D8C376;
  border-radius: 2px;
}

.modal_text {
  width: 310px;
  font-size: 18px;
  font-weight: 400;
  text-indent: 1.9em;
  color: #151414;
}

.close-modal {
  position: absolute;
  cursor: pointer;
  width: 100px;
  height: 100px;
  top: 255px;
  left: 340px;
  color: #151414;
  border: 1px solid #151414;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}

.close-modal:hover {
  color: #eeeeee;
  border: 1px solid #eeeeee;
  -webkit-transition: .3s;
  transition: .3s;
}

.arrow-top {
  position: fixed;
  right: -100px;
  bottom: 20px;
  display: block;
  width: 60px;
  height: 60px;
  color: #fff;
  text-align: center;
  line-height: 60px;
  background-color: rgba(238, 238, 238, 0.15);
  border-radius: 50px;
  font-size: 22px;
  cursor: pointer;
  opacity: .3;
  -webkit-transition: .2s;
  transition: .2s;
}

.arrow-top:hover {
  opacity: .9;
}

.active {
  right: 20px;
}
/*# sourceMappingURL=style.css.map */